/mmc-pack.json
/instance.cfg

/.minecraft/coremods
/.minecraft/defaultconfigs
/.minecraft/logs
/.minecraft/mods
/.minecraft/resourcepacks
/.minecraft/saves
/.minecraft/screenshots
/.minecraft/server-resource-packs
/.minecraft/shaderpacks
/.minecraft/texturepacks
/.minecraft/options.txt
/.minecraft/usercache.json
/.minecraft/usernamecache.json