.mixin.out
asm
assets
astralsorcery
backups
coremods
local
logs
server-resource-packs
shaderpacks
snapshots-server
texturepacks
tmp
XaeroWaypoints
XaeroWorldMap
XaeroWorldMap/Devtest
screenshots
saves
resourcepacks
.ReAuth.cfg
BotaniaVars.dat
crafttweaker.log
icon.png
options.txt
patchouli_data.json
usercache.json
usernamecache.json
mods