.mixin.out
asm
assets
/astralsorcery
backups
coremods
local
logs
server-resource-packs
shaderpacks
snapshots-server
texturepacks
tmp
XaeroWaypoints
XaeroWorldMap
XaeroWorldMap/Devtest
screenshots
saves
resourcepacks
.ReAuth.cfg
BotaniaVars.dat
crafttweaker.log
icon.png
options.txt
patchouli_data.json
usercache.json
usernamecache.json
mods
config/thaumicjei_itemstack_aspects.json
config/AppliedEnergistics2/items.csv
config/jei/worldSettings.cfg
XaeroWaypoints_BACKUP*
/crash-reports